* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#easyddb-status-wrapper {
  position: relative;
}
#easyddb-status-wrapper.hidden {
  display: none;
}
#easyddb-status-wrapper .easyddb-status-inner {
  width: 90%;
  position: relative;
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
}
#easyddb-status-wrapper .easyddb-status-inner .icon {
  float: left;
  font-size: 25px;
  font-family: 'icomoon';
  margin-top: 16px;
}
#easyddb-status-wrapper .easyddb-status-inner .message {
  padding: 20px 0;
  border: none;
  margin-left: 30px;
}
#easyddb-status-wrapper .easyddb-status-inner .message p {
  margin: 0;
}
#easyddb-status-wrapper .easyddb-status-inner .close-container {
  position: absolute;
  top: -8px;
  right: -17px;
  width: 54px;
  height: 54px;
}
#easyddb-status-wrapper .easyddb-status-inner .close-container .close-button {
  position: relative;
  display: block;
}
#easyddb-status-wrapper .easyddb-status-inner .close-container .close-button:before {
  font-size: 54px;
  font-family: 'icomoon';
  content: "\e907";
}
#easyddb-status-wrapper .maintenance .icon:before {
  content: "\e91e";
  color: blue;
}
#easyddb-status-wrapper .none .icon:before {
  content: "\e91b";
  color: green;
}
#easyddb-status-wrapper .minor .icon:before {
  content: "\e90d";
  color: yellow;
}
#easyddb-status-wrapper .major .icon:before {
  content: "\e91c";
  color: orange;
}
#easyddb-status-wrapper .critical .icon:before {
  content: "\e91d";
  color: red;
}
